[flake8]
exclude =
    .git,
    .venv,
    .tox,
    .hypothesis,
    .github,
    dist,
    minisculus.egg-info,
    test-results,
    noxfile.py
max-line-length = 80
select = B,B9,B950,BLK,C,D,DAR,E,F,I,S,W
ignore = E203, E501, W503, D107
application-import-names = minisculus,tests
import-order-style = google
docstring-convention = google
